@font-face {
  font-family: Abril Fatface;
  src: url(/user/themes/illuminate/fonts/Abril_Fatface/AbrilFatface-Regular.ttf);
}
body#top {
  font-family: "Source Sans Pro";
}
body#top h1,
body#top h2,
body#top h3,
body#top h4,
body#top h5,
body#top h6 {
  font-family: "Abril Fatface";
  color: #062f4f;
}
body#top p,
body#top li,
body#top a {
  font-family: "Source Sans Pro" !important;
  font-size: 1.1rem;
}
body#top a {
  color: #af1b3f;
}
body#top .button {
  border-radius: 0;
  border: 1px solid #af1b3f;
  padding: 10px 20px;
  background-color: white;
  color: #af1b3f;
  font-weight: bold;
  transition: 0.25s all;
}
body#top .button:hover {
  background-color: #af1b3f;
  color: white;
}
body#top .first-character {
  color: #f7941d;
  float: left;
  font-family: "Abril Fatface";
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}
body#top .notices.gold {
  margin: 1.5rem 0 1.5rem 0.7rem;
  border-width: 0 0 0 15px;
  border-style: solid;
  -moz-border-image: url(/user/themes/illuminate/images/accents/Book_Light_Editorial_edge.png) 0% 85% round;
  border-image: url(/user/themes/illuminate/images/accents/Book_Light_Editorial_edge.png) 0% 85% round;
  border-image-outset: 1;
  box-shadow: 0 0 20px 10px #999999;
  background-color: white;
  background-image: url("/user/themes/illuminate/images/accents/book_light_editorial_coffeestain.png");
  background-repeat: no-repeat;
  background-size: 150px;
  background-position: right 10px top 10px;
  color: #222;
  padding-right: 5px;
}

section#header {
  top: 1rem;
  opacity: 0.93;
  background-color: #0074aa !important;
  padding-left: 2rem;
  padding-right: 2rem;
}
section#header .logo {
  padding: 13px 5px;
  transition: 0.5s padding;
}
section#header .logo #header-text {
  transition: 0.5s font-size;
  font-family: "Abril Fatface";
  font-size: 2rem;
  color: white;
}
@media (max-width: 500px) {
  section#header .logo {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  section#header .logo #header-text {
    font-size: 1.5rem;
  }
}
section#header .navbar-section ul li a {
  font-size: 1.1rem;
  font-variant: small-caps;
  color: white !important;
}
section#header .navbar-section ul li a:before,
section#header .navbar-section ul li a:after {
  background-color: white !important;
}
section#header.scrolled #logo {
  padding: 5px;
}
section#header.scrolled #logo #header-text {
  font-size: 1.4rem;
}
section#header.scrolled .navbar-section ul li a {
  padding-top: 0;
  padding-bottom: 0.1rem;
}
@media only all and (max-width: 1125px) {
  section#header {
    padding-left: 0;
    padding-right: 0;
  }
}

#header_image {
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
}

.tags a {
  border: 1px solid #0074aa;
  border-radius: 3px !important;
  background: inherit !important;
  font-size: 0.8rem !important;
  color: #0074aa !important;
}

.content-item .content-title .p-name a {
  font-size: 1.75rem !important;
}

#footer {
  position: static;
  background-color: #062f4f;
  padding-bottom: 20px;
  height: auto;
}
#footer a {
  color: white;
}
#footer a:hover {
  color: #af1b3f;
}
#footer .totop {
  position: relative;
  bottom: 23px;
}
#footer .totop span {
  background-color: #062f4f;
}
#footer .totop span a#toTop i {
  font-size: 1.7rem;
}
#footer #social-media {
  margin-bottom: 10px;
}
#footer #social-media img {
  height: 30px;
  padding: 0 5px;
}
#footer #heart-book {
  margin-bottom: 10px;
}
#footer p {
  position: static;
  top: 0;
  transform: initial;
}

.about-left img.profile {
  width: 350px;
}
@media (max-width: 840px) {
  .about-left iframe {
    display: none !important;
  }
}

.about-right {
  padding-left: 3rem;
}
.about-right img.org {
  padding: 0 10px 10px 0;
}
@media (max-width: 840px) {
  .about-right {
    padding-left: 0.4rem;
  }
}

#testimonial-boxes {
  padding-top: 4rem;
}

blockquote {
  border-left: 10px solid lightgrey;
}
blockquote p {
  color: #555;
}

.bricklayer-column .box {
  box-shadow: 0 0 10px 1px black;
  background-image: url("/user/themes/illuminate/images/accents/Book_Light_Editorial_Spines_gold.png");
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: right 10px bottom 10px;
  color: black;
  margin: 2rem 1rem;
  padding: 10px 20px;
}

.grav-lightslider#about_lightslider-wrapper #about_lightslider {
  height: 400px !important;
}
.grav-lightslider#about_lightslider-wrapper #about_lightslider li {
  height: 100%;
}
.grav-lightslider#about_lightslider-wrapper #about_lightslider li img {
  max-height: 400px;
  width: auto;
  margin: auto;
}
.grav-lightslider#book_lightslider-wrapper #book_lightslider li {
  height: 250px;
  width: 170px;
}
.grav-lightslider#book_lightslider-wrapper #book_lightslider li img {
  height: 100%;
  width: auto;
  max-width: 170px;
  margin: auto;
}
.grav-lightslider#book_lightslider-wrapper #book_lightslider li.active img {
  opacity: 1;
}
.grav-lightslider#book_lightslider-wrapper #book_lightslider li:not(.active) img {
  height: 85%;
  opacity: 0.3;
  transition: 1s all;
}

.modular-text {
  background-color: inherit !important;
  padding: 1rem;
}

#quick-contact + .modular-text {
  display: none;
}

body#top .featherlight .featherlight-content {
  border-radius: 5px;
  padding: 15px 20px 0;
}
body#top #page-wrapper {
  background-color: white;
  color: #062f4f;
  padding-bottom: 5rem;
}
body#top #page-wrapper img.float-left {
  float: left;
  padding: 0 10px 10px 0;
}
body#top #page-wrapper .center {
  text-align: center;
}
body#top #page-wrapper #homepage-grid .homepage-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
body#top #page-wrapper #homepage-grid .homepage-row > div {
  flex: 1 1 auto;
  margin: 0 1rem 2rem 1rem;
}
@media (min-width: 1250px) {
  body#top #page-wrapper #homepage-grid .homepage-row#bookshelves {
    width: 75%;
    margin: auto;
  }
}
body#top #page-wrapper #homepage-grid .homepage-row#bookshelves #logo-area {
  flex-basis: 417px;
}
body#top #page-wrapper #homepage-grid .homepage-row#bookshelves #logo-area #homepage-logo-book {
  box-sizing: content-box;
  height: 317px;
  width: 417px;
  background-image: url(/user/themes/illuminate/images/Book_Light_Editorial_offon.png);
  background-position: 0 0;
}
body#top #page-wrapper #homepage-grid .homepage-row#bookshelves #logo-area #homepage-logo-book:hover {
  background-position: 417px 0;
}
body#top #page-wrapper #homepage-grid .homepage-row#bookshelves #logo-area #homepage-logo-text {
  border-bottom: none !important;
  box-shadow: none !important;
  margin-top: 4rem;
  max-width: 417px;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (max-width: 858px) {
  body#top #page-wrapper #homepage-grid .homepage-row#bookshelves #logo-area #homepage-logo-text {
    display: none;
  }
}
body#top #page-wrapper #homepage-grid .homepage-row#bookshelves #logo-area #homepage-logo-book,
body#top #page-wrapper #homepage-grid .homepage-row#bookshelves #logo-area #homepage-logo-text {
  margin-left: auto;
  margin-right: auto;
  border-bottom: 10px solid #062f4f;
  box-shadow: 0 25px 15px -15px #888888;
}
body#top #page-wrapper #homepage-grid .homepage-row#bookshelves #homepage-links {
  flex-basis: 250px;
}
body#top #page-wrapper #homepage-grid .homepage-row#bookshelves #homepage-links #services-link-area {
  justify-content: flex-end;
}
body#top #page-wrapper #homepage-grid .homepage-row#bookshelves #homepage-links #services-link-area a {
  margin-right: 15px;
  background-position: 0 0;
}
body#top #page-wrapper #homepage-grid .homepage-row#bookshelves #homepage-links #services-link-area a:hover {
  background-position: 0 160px;
}
body#top #page-wrapper #homepage-grid .homepage-row#bookshelves #homepage-links #team-link-area {
  justify-content: flex-start;
}
body#top #page-wrapper #homepage-grid .homepage-row#bookshelves #homepage-links #team-link-area a {
  margin-left: 15px;
  background-position: 160px 0 !important;
}
body#top #page-wrapper #homepage-grid .homepage-row#bookshelves #homepage-links #team-link-area a:hover {
  background-position: 160px 160px !important;
}
@media (max-width: 858px) {
  body#top #page-wrapper #homepage-grid .homepage-row#bookshelves #homepage-links #team-link-area {
    margin-top: 2rem !important;
  }
}
body#top #page-wrapper #homepage-grid .homepage-row#bookshelves #homepage-links #services-link-area,
body#top #page-wrapper #homepage-grid .homepage-row#bookshelves #homepage-links #team-link-area {
  display: flex;
  align-items: flex-end;
  margin: auto;
  border-bottom: 10px solid #062f4f;
  box-shadow: 0 25px 15px -15px #888888;
  max-width: 250px;
  height: 50%;
  text-align: center;
}
body#top #page-wrapper #homepage-grid .homepage-row#bookshelves #homepage-links #services-link-area a,
body#top #page-wrapper #homepage-grid .homepage-row#bookshelves #homepage-links #team-link-area a {
  border-radius: 0;
  border: none;
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(/user/themes/illuminate/images/accents/Book_Light_Editorial_Spines_orange_all.png);
  height: 160px;
  width: 160px;
  padding-top: 2rem;
  line-height: 1.2;
  font-size: 2.3rem;
  font-weight: normal;
  font-variant: small-caps;
  color: #062f4f;
  transition: none;
}
body#top #page-wrapper #homepage-grid .homepage-row #intro-text-area {
  font-size: 1.5rem;
}
body#top #page-wrapper #homepage-grid .homepage-row #newsletter-area h3 {
  margin-bottom: 0.85rem;
}
body#top #page-wrapper #homepage-grid .homepage-row #intro-text-area,
body#top #page-wrapper #homepage-grid .homepage-row #blog-features-area,
body#top #page-wrapper #homepage-grid .homepage-row #newsletter-area {
  flex-basis: 30%;
}
body#top #page-wrapper #homepage-grid #slogan-area {
  margin-top: 1rem;
  margin-bottom: 3rem;
}
body#top #page-wrapper #homepage-grid #slogan-area h1 {
  line-height: 5.5rem;
  font-size: 4.5rem;
  text-align: center;
}

/*# sourceMappingURL=custom.css.map */
