body#top {
  font-family: Tahoma, Geneva, sans-serif;
  color: #444444;
}
body#top h1,
body#top h2,
body#top h3,
body#top h4,
body#top h5,
body#top h6 {
  font-family: Tahoma, Geneva, sans-serif;
  color: #00243a;
}
body#top h2 {
  font-size: 2.4rem;
}
body#top h3 {
  font-size: 1.8rem;
}
body#top p,
body#top li,
body#top a, body#top .button, body#top .btn {
  font-size: 1rem;
}
body#top a {
  color: #047c69;
}
body#top .button:not(.secondary-btn), body#top .btn:not(.secondary-btn) {
  border: none;
  background-color: inherit;
  background-image: url(/user/themes/illuminate/images/button_sheet.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
  height: 50px;
  width: 150px;
  color: #ffffff;
  line-height: 33px;
  transition: 0.25s background-image;
}
body#top .button:not(.secondary-btn):hover, body#top .btn:not(.secondary-btn):hover {
  background-position: -152px 0;
}
body#top .button.secondary-btn, body#top .btn.secondary-btn {
  border: 2px solid #00335a;
  height: auto;
  padding: 0.5rem 3rem;
  background-color: #00335a;
  color: #ffffff;
}
body#top .button.secondary-btn:hover, body#top .btn.secondary-btn:hover {
  background-color: #ffffff;
  color: #00335a;
}
body#top .highlight {
  color: #f7941d;
}
body#top .first-character {
  color: #f7941d;
  float: left;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}
body#top .notices.gold {
  margin: 1.5rem 0 1.5rem 0.7rem;
  border-width: 0 0 0 15px;
  border-style: solid;
  -moz-border-image: url(/user/themes/illuminate/images/accents/Book_Light_Editorial_edge.png) 0% 85% round;
  border-image: url(/user/themes/illuminate/images/accents/Book_Light_Editorial_edge.png) 0% 85% round;
  border-image-outset: 1;
  box-shadow: 0 0 20px 10px #999999;
  background-color: #ffffff;
  background-image: url("/user/themes/illuminate/images/accents/book_light_editorial_coffeestain.png");
  background-repeat: no-repeat;
  background-size: 150px;
  background-position: right 10px top 10px;
  color: #222;
  padding-right: 5px;
}

html {
  font-size: 16px;
}
html body#top {
  position: relative;
}
html body#top .hidden-link-text {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
html body#top #contact-form input,
html body#top #contact-form textarea {
  width: 100%;
}
html body#top #contact-form .buttons {
  margin-top: 1rem;
  text-align: center;
}
html body#top #contact-form .buttons .button {
  margin: 0 0.5rem;
}
html body#top #page-wrapper {
  background-color: #ffffff;
  padding-bottom: 5rem;
}
html body#top #page-wrapper img.float-left {
  float: left;
  padding: 0 10px 10px 0;
}
html body#top #page-wrapper img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
html body#top #page-wrapper .center:not(img) {
  text-align: center;
}
html body#top #page-wrapper .anchor {
  display: block;
  position: relative;
  top: -40px;
  visibility: hidden;
}
html body#top #page-wrapper #contact-page-images {
  margin-top: 2rem;
  text-align: center;
}
html body#top #page-wrapper #contact-page-images img {
  max-height: 250px;
  max-width: 23%;
}
html body#top #page-wrapper #contact-page-images img#contact-page-warrior {
  max-height: 300px;
}
html body#top #page-wrapper .mobile-menu .button_container.active {
  opacity: 1;
  top: 0.75rem;
}
html body#top #page-wrapper .mobile-menu .button_container.active .top,
html body#top #page-wrapper .mobile-menu .button_container.active .middle,
html body#top #page-wrapper .mobile-menu .button_container.active .bottom {
  background-color: #047c69;
}
html body#top #floating-social {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 999;
  margin-right: 0.25rem;
}
html body#top #floating-social .social-icon {
  display: block;
  margin-bottom: 0.25rem;
}
html body#top #floating-social .social-icon i:hover {
  background-color: #ffffff;
  color: #000000;
}
@media (max-width: 1024px) {
  html body#top #floating-social .social-icon {
    display: none;
  }
}
html body#top .social-icon {
  text-decoration: none;
}
html body#top .social-icon i {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000000;
  border-radius: 50%;
  background-color: #000000;
  height: 35px;
  width: 35px;
  color: #ffffff;
  transition: 0.25s all;
}
html body#top .margin-image {
  position: absolute;
  width: 10%;
  z-index: 0;
}
@media (max-width: 1170px) {
  html body#top .margin-image {
    display: none;
  }
}
html body#top .margin-image#warrior-margin {
  top: 20%;
  left: 1px;
}
html body#top .margin-image#romance-girl-margin {
  top: 35%;
  right: 1px;
}
html body#top .margin-image#scifi-spacegirl-margin {
  top: 50%;
  left: 1px;
}
html body#top .margin-image#mysteryman-margin {
  top: 65%;
  right: 1px;
}
html .mobile-container .overlay {
  background-color: #ffffff;
}
html .mobile-container .overlay .mobile-logo {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  font-weight: bold;
}
html .mobile-container .overlay .overlay-menu ul li .toggler {
  display: none;
}
html .mobile-container .overlay .overlay-menu ul li a.active, html .mobile-container .overlay .overlay-menu ul li a:focus {
  font-weight: bold;
  color: #047c69 !important;
}

section#header {
  border-bottom: none;
  background-color: #00335a;
  padding-left: 2rem;
  padding-right: 2rem;
}
section#header .logo {
  padding: 13px 5px;
  transition: 0.5s padding;
}
section#header .logo #header-text {
  transition: 0.5s font-size;
  font-size: 2rem;
  font-weight: normal;
  color: #ffffff;
}
@media (max-width: 1024px) {
  section#header .logo {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  section#header .logo #header-text {
    font-size: 1.5rem;
  }
}
@media (max-width: 900px) {
  section#header .logo #header-text {
    font-size: 1.25rem;
  }
}
section#header .navbar-section {
  transition: 0.25s height;
}
section#header .navbar-section ul li a {
  position: relative;
  margin: 0 0.5rem;
  padding: 0.1rem;
  font-size: 1rem;
  font-weight: 400;
  font-variant: small-caps;
  color: #ffffff;
}
section#header .navbar-section ul li a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  content: "";
  border-bottom: 1px solid #f7941d;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
section#header .navbar-section ul li a.active, section#header .navbar-section ul li a:hover, section#header .navbar-section ul li a:focus {
  color: #f7941d !important;
}
section#header .navbar-section ul li a.active:after, section#header .navbar-section ul li a:hover:after, section#header .navbar-section ul li a:focus:after {
  width: 100%;
  transform: scaleX(1);
}
section#header.scrolled {
  height: 2.6rem !important;
}
section#header.scrolled #logo {
  padding: 5px;
}
section#header.scrolled #logo #header-text {
  font-size: 1.4rem;
}
section#header.scrolled .navbar-section ul li a {
  padding-top: 0;
  padding-bottom: 0.1rem;
}
@media only all and (max-width: 1125px) {
  section#header {
    padding-left: 0;
    padding-right: 0;
  }
}

.mobile-menu .button_container span {
  background-color: #ffffff;
}

.blog-listing .tags a {
  border: 1px solid #00335a;
  border-radius: 3px !important;
  background: inherit !important;
  font-size: 0.8rem !important;
  color: #00335a !important;
}
.blog-listing .content-item .content-title .p-name a {
  font-size: 1.75rem !important;
}
.blog-listing .sharer-buttons-toolbar {
  text-align: center;
}

#footer {
  padding: 0;
  color: #444444;
}
#footer .container {
  background-color: #00243a;
  padding: 1rem 0.5rem;
  color: #ffffff;
}
#footer .container #footer-social {
  margin-bottom: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer .container #footer-social .social-icon {
  margin: 0 0.25rem;
}
#footer .container #footer-social .social-icon i {
  background-color: #ffffff;
  color: #000000;
}
#footer .container #footer-social .social-icon i:hover {
  background-color: #000000;
  color: #ffffff;
}
#footer .container span,
#footer .container a {
  font-size: 0.8rem;
  color: #ffffff;
}

.search-wrapper .search-input {
  max-width: 400px;
}
.search-wrapper .search-submit {
  padding: 3px 7px;
}

.simplesearch .search-wrapper {
  margin-bottom: 2rem;
}
.simplesearch .search-header {
  margin-top: 0;
  text-align: center;
}
@media (max-width: 840px) {
  .simplesearch .search-header {
    font-size: 2rem;
  }
  .simplesearch .search-row .search-image {
    display: none;
  }
  .simplesearch .search-row .search-item {
    margin-left: 0;
  }
}

.about-section {
  position: relative;
  margin-top: 1rem;
}
.about-section .columns .about-left img.profile {
  width: 350px;
}
@media (max-width: 840px) {
  .about-section .columns .about-left iframe {
    display: none !important;
  }
}
.about-section .columns .about-right {
  padding-left: 3rem;
}
.about-section .columns .about-right h2 {
  font-size: 1.2rem !important;
}
.about-section .columns .about-right strong {
  display: block;
  margin-bottom: 1.2rem;
  font-size: 1rem;
}
.about-section .columns .about-right img.org {
  padding: 0 10px 10px 0;
}
@media (max-width: 840px) {
  .about-section .columns .about-right {
    padding-left: 0.4rem;
  }
}
.about-section:after {
  background-image: linear-gradient(to bottom, #ffffff, #eeeeee);
  height: 10px;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  left: 50%;
  margin-left: -50vw;
  width: 100vw;
}
.about-section + div + #cta {
  margin-top: -10px;
}

#testimonial-boxes {
  padding-top: 4rem;
}

.columns {
  margin-right: auto;
  margin-left: auto;
}
.columns .column .bricklayer .bricklayer-column .box {
  box-shadow: 0 0 10px 1px black;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: 125px;
  background-position: right 10px bottom 10px;
  color: black;
  margin: 2rem 1rem;
  padding: 10px 20px;
}
.columns .column .bricklayer .bricklayer-column .box.package {
  box-shadow: 0 0 10px 1px #f7941d;
}
.columns .column .bricklayer .bricklayer-column .box blockquote {
  margin-right: 0;
  border-left: 10px solid lightgrey;
}
.columns .column .bricklayer .bricklayer-column .box blockquote p {
  color: #555;
}
.columns .column .bricklayer .bricklayer-column .box blockquote ~ p:last-child {
  margin-right: 115px;
}
@media (max-width: 500px) {
  .columns .column .bricklayer .bricklayer-column .box blockquote ~ p:last-child {
    margin-right: 0;
    margin-bottom: 70px;
  }
}
@media (max-width: 500px) {
  .columns .column .bricklayer .bricklayer-column .box .button {
    margin-bottom: 50px;
  }
}

#cta {
  margin-bottom: -5rem;
  padding: 0;
  color: #444444;
}
#cta .container > div {
  position: relative;
  padding: 1rem 0.5rem;
  z-index: 1;
}
#cta .container > div:before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -50vw;
  width: 100vw;
}
#cta .container > div#cta-top-bar:before {
  background-color: #00243a;
}
#cta .container > div#cta-top-bar #cta-title {
  margin: 0;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
@media (max-width: 500px) {
  #cta .container > div#cta-top-bar #cta-title {
    font-size: 1.25rem;
  }
}
#cta .container > div#cta-content {
  min-height: 400px;
  text-align: left;
}
#cta .container > div#cta-content:before {
  background-color: #eeeeee;
}
#cta .container > div#cta-content .text-column {
  padding-right: 1.5rem;
}
#cta .container > div#cta-content .text-column .button {
  display: block;
  margin-left: auto;
}
#cta .container > div#cta-content .text-column .cta-profile-img {
  max-width: 32%;
}
#cta .container > div#cta-content .text-column #mc_embed_signup #mc-embedded-subscribe-form #mc_embed_signup_scroll .mc-field-group input {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
}
#cta .container > div#cta-content .text-column #mc_embed_signup #mc-embedded-subscribe-form #mc_embed_signup_scroll .buttons .button {
  margin: 0.5rem auto 0 auto;
}
@media (max-width: 600px) {
  #cta .container > div#cta-content .text-column {
    padding-left: 0;
    padding-right: 0;
  }
}
#cta .container > div#cta-content #cta-coffee-img {
  max-width: 200px;
  position: absolute;
  top: -35px;
  right: 20px;
}
@media (max-width: 600px) {
  #cta .container > div#cta-content #cta-coffee-img {
    display: none;
  }
}
#cta .container > div#cta-content #cta-desk-img {
  max-height: 300px;
  position: absolute;
  bottom: -25px;
  right: 0;
  z-index: 1;
}
@media (max-width: 600px) {
  #cta .container > div#cta-content #cta-desk-img {
    max-width: 200px;
    position: static;
  }
}

.genre-rows .columns {
  margin: 3rem auto;
}
@media (min-width: 841px) {
  .genre-rows .columns .text-column {
    margin-left: 0.5rem;
  }
}
.genre-rows .columns.img-column-right {
  flex-direction: row-reverse;
}
@media (min-width: 841px) {
  .genre-rows .columns.img-column-right .text-column {
    margin-left: 0;
    margin-right: 0.5rem;
  }
}
.genre-rows .columns.vertical-center {
  align-items: center;
}
.genre-rows .columns .image-column {
  min-height: 400px;
  background-repeat: no-repeat;
  position: relative;
}
.genre-rows .columns .image-column.absolute-images img {
  position: absolute;
}
@media (max-width: 840px) {
  .genre-rows .columns .image-column.absolute-images img {
    display: none;
  }
}
.genre-rows .columns .image-column.romance #romance-girl {
  height: 310px;
  bottom: 0;
  right: 40px;
}
.genre-rows .columns .image-column.romance #romance-background {
  height: 350px;
  top: 0;
  left: 0;
}
@media (max-width: 840px) {
  .genre-rows .columns .image-column.romance {
    background-image: url(/user/themes/illuminate/images/genres/romance_no-edge_girl.png);
    background-size: contain;
    background-position: center;
  }
}
.genre-rows .columns .image-column.mystery img {
  height: 300px;
}
@media (max-width: 840px) {
  .genre-rows .columns .image-column.mystery {
    margin: 0 auto;
    min-height: 125px;
    max-width: 315px;
    background-image: url(/user/themes/illuminate/images/genres/mysteryman.png), url(/user/themes/illuminate/images/genres/mystery_no-edge_city.png);
    background-position: left 20px center, center;
    background-size: contain;
  }
}
.genre-rows .columns .image-column.sci-fi #scifi-spacegirl {
  height: 320px;
  top: 20%;
  right: 40px;
}
.genre-rows .columns .image-column.sci-fi #scifi-star {
  height: 50px;
  left: 130px;
  bottom: 50%;
}
.genre-rows .columns .image-column.sci-fi #scifi-background {
  top: 20%;
  left: 0;
  right: 0;
}
@media (max-width: 840px) {
  .genre-rows .columns .image-column.sci-fi {
    background-image: url(/user/themes/illuminate/images/genres/scifi_no-edge_spacegirl.png);
    background-size: contain;
    background-position: center;
  }
}
@media (max-width: 500px) {
  .genre-rows .columns .image-column.sci-fi {
    min-height: 260px;
  }
}
.genre-rows .columns .image-column.fantasy #fantasy-warrior {
  height: 350px;
  top: 0;
  left: 40px;
}
.genre-rows .columns .image-column.fantasy #fantasy-background {
  height: 300px;
  bottom: 0;
}
@media (max-width: 840px) {
  .genre-rows .columns .image-column.fantasy {
    background-image: url(/user/themes/illuminate/images/genres/fantasy_no-edge_warrior.png);
    background-size: contain;
    background-position: center;
  }
}
.genre-rows .columns .image-column.genre-resource {
  text-align: center;
}
.genre-rows .columns .image-column.genre-resource img:not([id$=-background]) {
  margin-top: -200px;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
}
@media (max-width: 840px) {
  .genre-rows .columns .image-column.genre-resource img:not([id$=-background]) {
    margin-top: -150px;
    transform: none !important;
  }
}
@media (max-width: 414px) {
  .genre-rows .columns .image-column.genre-resource img:not([id$=-background]) {
    height: 250px;
    margin-top: -125px;
  }
}
@media (max-width: 375px) {
  .genre-rows .columns .image-column.genre-resource img:not([id$=-background]) {
    height: 200px;
    margin-top: -150px;
  }
}
.genre-rows .columns .image-column.genre-resource img[id$=-background] {
  box-shadow: 0 0 20px 10px #999999;
}
.genre-rows .columns .text-column .mystery-city {
  height: 250px;
  background-image: url(/user/themes/illuminate/images/genres/mystery_no-edge_city_no-back.png), url(/user/themes/illuminate/images/genres/mystery_no-edge_no-city.png);
  background-size: auto 250px, auto 200px;
  background-position: right 70px bottom 11px, bottom;
  background-repeat: no-repeat;
}
@media (max-width: 840px) {
  .genre-rows .columns .text-column .mystery-city {
    display: none;
  }
}
.genre-rows .columns .text-column h2 {
  font-size: 1.8rem !important;
}
.genre-rows .columns .text-column .button {
  display: block;
  margin-left: auto;
}

.grav-lightslider#about_lightslider-wrapper #about_lightslider {
  height: 400px !important;
}
.grav-lightslider#about_lightslider-wrapper #about_lightslider li {
  height: 100%;
}
.grav-lightslider#about_lightslider-wrapper #about_lightslider li img {
  max-height: 400px;
  width: auto;
  margin: auto;
}
.grav-lightslider#book_lightslider-wrapper #book_lightslider li {
  height: 250px;
  width: 170px;
}
.grav-lightslider#book_lightslider-wrapper #book_lightslider li img {
  height: 100%;
  width: auto;
  max-width: 170px;
  margin: auto;
}
.grav-lightslider#book_lightslider-wrapper #book_lightslider li.active img {
  opacity: 1;
}
.grav-lightslider#book_lightslider-wrapper #book_lightslider li:not(.active) img {
  height: 85%;
  opacity: 0.3;
  transition: 1s all;
}

#showcase #header_image {
  position: relative;
  text-align: center;
  z-index: 1;
}
@media (max-width: 768px) {
  #showcase #header_image {
    margin-top: 2.5rem;
  }
}
#showcase #header_image #header_curtain {
  pointer-events: none;
  position: absolute;
  left: 0;
  width: 100%;
}
@media (min-width: 2700px) {
  #showcase #header_image #header_curtain {
    display: none;
  }
}
#showcase #header_image #header_logo {
  margin-top: 8rem;
  margin-bottom: 2rem;
}
@media (min-width: 2400px) and (max-width: 2699px) {
  #showcase #header_image #header_logo {
    margin-top: 16rem;
  }
}
@media (min-width: 2050px) and (max-width: 2399px) {
  #showcase #header_image #header_logo {
    margin-top: 14rem;
  }
}
@media (min-width: 1700px) and (max-width: 2049px) {
  #showcase #header_image #header_logo {
    margin-top: 12rem;
  }
}
@media (min-width: 1350px) and (max-width: 1699px) {
  #showcase #header_image #header_logo {
    margin-top: 10rem;
  }
}
@media (max-width: 840px) {
  #showcase #header_image #header_logo {
    margin-top: 6rem;
  }
}
@media (max-width: 600px) {
  #showcase #header_image #header_logo {
    margin-top: 4rem;
  }
}
@media (max-width: 414px) {
  #showcase #header_image #header_logo {
    margin-top: 3rem;
  }
}
#showcase #header_image #header_text {
  margin-top: 0;
}
@media (max-width: 768px) {
  #showcase #header_image #header_text {
    font-size: 2rem;
  }
}
#showcase #header_image .button {
  display: block;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.modular-text {
  background-color: inherit !important;
  padding: 1rem;
}

.modular-two-columns .container .columns.vertical-center {
  align-items: center;
}

/*# sourceMappingURL=custom.css.map */
