{% set grid_size = theme_var('grid-size') %}

<section id="cta" class="section">
    <section class="container {{ grid_size }}">
        <div id="cta-content" class="columns">
            <div class="text-column column col-8 col-lg-12">
              {{ page.header.text|markdown }}
            </div>
            <div class="image-column column col-4 col-lg-12">
              <img src="{{ url('theme://images/accents/Book_Light_Editorial_gildframe_carly.png') }}" alt="">
            </div>
        </div>
    </section>
</section>
