{% set grid_size = theme_var('grid-size') %}

<section id="cta" class="section">
    <section class="container {{ grid_size }}">
        <div id="cta-content">
            <div class="text-column col-9 col-sm-12">{{ page.header.text|markdown }}</div>
        </div>
    </section>
</section>
