$primary-color: #13262c;
$secondary-color: #0c796f;
$tertiary-color: #143a40;
$accent-color: #f4be6b;
$dark-color: #282828;
$gray-color: #eeeeee;
$gray-color-dark: #444444;
$body-font-color: $gray-color-dark;
$link-color: #047c69;
$highlight: #f7941d;
$white: #f8f7f5;
$black: #000000;
