$primary-color: #00335a;
$dark-color: #00243a;
$light-color: #0074aa;
$gray-color: #eeeeee;
$gray-color-dark: #444444;
$body-font-color: $gray-color-dark;
$highlight: #f7941d;
$white: #ffffff;
$black: #000000;
