$base-font-family: Tahoma, Geneva, sans-serif;

body#top {
  font-family: $base-font-family;
  color: $body-font-color;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $dark-color;
  }

  p,
  li,
  a {
    font-size: 1.1rem;
  }

  .button, .btn {
    border: none;
    background-color: inherit;
    background-image: url(/user/themes/illuminate/images/button.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
    width: 150px;
    color: $white;
    line-height: 30px;
    transition: 0.25s background-image;

    &:hover {
      background-image: url(/user/themes/illuminate/images/button_darkblue.png);
    }
  }

  .highlight {
    color: $highlight;
  }

  .first-character {
    color: $highlight;
    float: left;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
  }

  .notices.gold {
    margin: 1.5rem 0 1.5rem 0.7rem;
    border-width: 0 0 0 15px;
    border-style: solid;
    -moz-border-image: url(/user/themes/illuminate/images/accents/Book_Light_Editorial_edge.png) 0% 85% round;
    border-image: url(/user/themes/illuminate/images/accents/Book_Light_Editorial_edge.png) 0% 85% round;
    border-image-outset: 1;
    box-shadow: 0 0 20px 10px #999999;
    background-color: $white;
    background-image: url('/user/themes/illuminate/images/accents/book_light_editorial_coffeestain.png');
    background-repeat: no-repeat;
    background-size: 150px;
    background-position: right 10px top 10px;
    color: #222;
    padding-right: 5px;
  }
}
