@font-face {
  font-family: Abril Fatface;
  src: url(/user/themes/illuminate/fonts/Abril_Fatface/AbrilFatface-Regular.ttf);
}

body#top {
  font-family: 'Source Sans Pro';

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Abril Fatface';
    color: $primary;
  }

  p,
  li,
  a {
    font-family: 'Source Sans Pro' !important;
    font-size: 1.1rem;
  }

  a {
    color: $accent3;
  }

  .button {
    border-radius: 0;
    border: 1px solid $accent3;
    padding: 10px 20px;
    background-color: white;
    color: $accent3;
    font-weight: bold;
    transition: 0.25s all;

    &:hover {
      background-color: $accent3;
      color: white;
    }
  }

  .first-character {
    color: $accent4;
    float: left;
    font-family: 'Abril Fatface';
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
  }

  .notices.gold {
    margin: 1.5rem 0 1.5rem 0.7rem;
    border-width: 0 0 0 15px;
    border-style: solid;
    -moz-border-image: url(/user/themes/illuminate/images/accents/Book_Light_Editorial_edge.png) 0% 85% round;
    border-image: url(/user/themes/illuminate/images/accents/Book_Light_Editorial_edge.png) 0% 85% round;
    border-image-outset: 1;
    box-shadow: 0 0 20px 10px #999999;
    background-color: white;
    background-image: url('/user/themes/illuminate/images/accents/book_light_editorial_coffeestain.png');
    background-repeat: no-repeat;
    background-size: 150px;
    background-position: right 10px top 10px;
    color: #222;
    padding-right: 5px;
  }
}
