$base-font-family: "Open Sans", sans-serif;
$heading-font-family: "Cinzel Decorative", serif;

body#top {
  font-family: $base-font-family;
  color: $body-font-color;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .heading-text {
    font-family: $heading-font-family;
    color: $primary-color;
    font-kerning: none;

    &.teal {
      color: $secondary-color;
    }

    &.white {
      color: $white;
    }
  }

  h2 {
    font-size: 2.4rem;

    @media (max-width: 840px) {
      font-size: 1.75rem;
    }
  }

  h3 {
    font-size: 1.8rem;
  }

  .heading-text {
    font-size: 1rem;
  }

  p,
  li,
  a, .button, .btn {
    font-size: 1rem;
  }

  a {
    color: $link-color;
  }

  #start {
    a:not(.button):not(.btn) {
      text-decoration: underline;

      &:hover {
        color: $red-color;
      }
    }
  }

  hr.flower {
    display: block;
    border: 0px;
    height: 45px;
    background-image: url('/user/themes/illuminate/images/accents/Book_Light_Editorial_flower.png');
    background-size: 45px;
    background-position: center;
    background-repeat: no-repeat;
  }

  .button, .btn {
    &:not(.secondary-btn) {
      border: none;
      background-color: inherit;
      background-image: url(/user/themes/illuminate/images/button_sheet.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 0 0;
      height: 42px;
      width: 148px;
      color: $white;
      line-height: 33px;
      transition: 0.25s background-image;

      &:hover {
        background-position: -148px 0;
      }
    }
    &.secondary-btn {
      border: 2px solid $primary-color;
      height: auto;
      padding: 0.5rem 3rem;
      background-color: $primary-color;
      color: $white;

      &:hover {
        background-color: $white;
        color: $primary-color;
      }
    }
  }

  .highlight {
    color: $highlight;
  }

  .first-character {
    color: $secondary-color;
    float: left;
    font-family: $heading-font-family;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
  }

  .notices {
    &.raven {
      position: relative;
      margin: 1.5rem auto;
      max-width: 750px;
      background-color: $primary-color;
      padding: 20px 30px 20px 85px;
      color: $white;

      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: -39px;
        width: 115px;
        height: 100%;
        background-image: url(/user/themes/illuminate/images/accents/Book_Light_Editorial_raven_cutblock.png);
        background-size: contain;
        background-position: bottom;
        background-repeat: no-repeat;
      }

      h1, h2, h3, h4, h5, h6 {
        color: $white;
      }

      a:not(.button):not(.btn) {
        color: $accent-color;

        &:hover {
          color: $white !important;
        }
      }

      @media (max-width: 840px) {
        padding: 20px 20px 20px 55px;

        &::before {
          width: 85px;
          left: -30px;
        }
      }
    }
  }
}