.about-section {
  position: relative;
  margin-top: 1rem;

  .columns {
    .about-left {
      img.profile {
        width: 350px;
      }

      @media (max-width: 840px) {
        iframe {
          display: none !important;
        }
      }
    }

    .about-right {
      padding-left: 3rem;

      h2 {
        font-size: 1.2rem !important;
      }

      strong {
        display: block;
        margin-bottom: 1.2rem;
        font-size: 1rem;
      }

      img.org {
        padding: 0 10px 10px 0;
      }

      @media (max-width: 840px) {
        padding-left: 0.4rem;
      }
    }
  }

  &:after {
    background-image: linear-gradient(to bottom, $white, $gray-color);
    height: 10px;
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    left: 50%;
    margin-left: -50vw;
    width: 100vw;
  }

  & + div + #cta {
    margin-top: -10px;
  }
}
