#testimonial-boxes {
  padding-top: 4rem;
}

.columns {
  margin-right: auto;
  margin-left: auto;

  .column {
    .bricklayer {
      .bricklayer-column {
        .box {
          box-shadow: 0 0 10px 1px black;
          background-color: $white;
          background-repeat: no-repeat;
          background-size: 75px;
          background-position: right 5px bottom 5px;
          margin: 2rem 1rem;

          &.package {
              box-shadow: 0 0 10px 1px $highlight;
          }

          .box-heading {
            background-color: $primary-color;
            text-align: center;
            color: $white;
            padding: 10px 20px;
            
            h2 {
              margin: 0;
              color: $white !important;
              font-size: 1.5rem !important;
            }
          }

          .box-content {
              color: black;
              padding: 20px;
          }

          blockquote {
            margin-right: 0;
            border-left: 10px solid lightgrey;

            p {
              color: #555;
            }

            & ~ p:last-child {
              margin-right: 115px;

              @media (max-width: 500px) {
                margin-right: 0;
                margin-bottom: 70px;
              }
            }
          }

          .button {
            @media (max-width: 500px) {
              margin-bottom: 50px;
            }
          }
        }
      }
    }
  }
}
