#cta {
  clip-path: polygon(100% 0, 100% calc(100% - 125px), 50% 100%, 0 calc(100% - 125px), 0 0);
  padding: 0;
  color: $white;

  .container {
    #cta-content {
      position: relative;
      min-height: 400px;
      padding: 1rem 0.5rem;
      text-align: left;
      z-index: 1;

      &:before {
        background-color: $dark-color;
        background-image: url(/user/themes/illuminate/images/footer/carlydesk.png);
        background-position: bottom -85px right -190px;
        background-size: 600px;
        background-repeat: no-repeat;
        z-index: -1;
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        margin-left: -50vw;
        width: 100vw;
      }

      .text-column {
        margin-bottom: 8rem;
        padding-right: 1.5rem;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          color: $white;
        }

        .button {
          display: block;
          margin-left: auto;
        }

        .cta-profile-img {
          max-width: 32%;
        }

        #mc_embed_signup {
          #mc-embedded-subscribe-form {
            #mc_embed_signup_scroll {
              .mc-field-group {
                input {
                  display: block;
                  margin: 0 auto;
                  width: 100%;
                  max-width: 400px;
                }
              }

              .buttons {
                .button {
                  margin: 0.5rem auto 0 auto;
                }
              }
            }
          }
        }

        @media (max-width: 600px) {
          padding-left: 0;
          padding-right: 0;
        }
      }

      #cta-desk-img {
        max-height: 300px;
        position: absolute;
        bottom: -25px;
        right: 0;
        z-index: 1;

        @media (max-width: 600px) {
          max-width: 200px;
          position: static;
        }
      }
    }
  }
}