.genre-rows {
  .columns {
    margin: 3rem auto;

    .text-column {
      @media (min-width: 841px) {
        margin-left: 0.5rem;
      }
    }

    &.img-column-right {
      flex-direction: row-reverse;

      .text-column {
        @media (min-width: 841px) {
          margin-left: 0;
          margin-right: 0.5rem;
        }
      }
    }

    &.vertical-center {
      align-items: center;
    }

    .image-column {
      min-height: 400px;
      background-repeat: no-repeat;
      position: relative;

      &.absolute-images {
        img {
          position: absolute;

          @media (max-width: 840px) {
            display: none;
          }
        }
      }

      &.romance {
        #romance-girl {
          height: 310px;
          bottom: 0;
          right: 40px;
        }

        #romance-background {
          height: 350px;
          top: 0;
          left: 0;
        }

        @media (max-width: 840px) {
          background-image: url(/user/themes/illuminate/images/genres/romance_no-edge_girl.png);
          background-size: contain;
          background-position: center;
        }
      }

      &.mystery {
        img {
          height: 300px;
        }

        @media (max-width: 840px) {
          margin: 0 auto;
          min-height: 125px;
          max-width: 315px;
          background-image: url(/user/themes/illuminate/images/genres/mysteryman.png),
            url(/user/themes/illuminate/images/genres/mystery_no-edge_city.png);
          background-position: left 20px center, center;
          background-size: contain;
        }
      }

      &.sci-fi {
        #scifi-spacegirl {
          height: 320px;
          top: 20%;
          right: 40px;
        }

        #scifi-star {
          height: 50px;
          left: 130px;
          bottom: 50%;
        }

        #scifi-background {
          top: 20%;
          left: 0;
          right: 0;
        }

        @media (max-width: 840px) {
          background-image: url(/user/themes/illuminate/images/genres/scifi_no-edge_spacegirl.png);
          background-size: contain;
          background-position: center;
        }

        @media (max-width: 500px) {
          min-height: 260px;
        }
      }

      &.fantasy {
        #fantasy-warrior {
          height: 350px;
          top: 0;
          left: 40px;
        }

        #fantasy-background {
          height: 300px;
          bottom: 0;
        }

        @media (max-width: 840px) {
          background-image: url(/user/themes/illuminate/images/genres/fantasy_no-edge_warrior.png);
          background-size: contain;
          background-position: center;
        }
      }

      &.genre-resource {
        text-align: center;

        img:not([id$='-background']) {
          margin-top: -200px;
          margin-left: auto;
          margin-right: auto;
          height: 300px;
          position: absolute;
          top: 50%;
          left: 0;
          right: 0;

          @media (max-width: 840px) {
            margin-top: -150px;
            transform: none !important;
          }

          @media (max-width: 414px) {
            height: 250px;
            margin-top: -125px;
          }

          @media (max-width: 375px) {
            height: 200px;
            margin-top: -150px;
          }

        }

        img[id$='-background'] {
          box-shadow: 0 0 20px 10px #999999;
        }
      }
    }

    .text-column {
      .mystery-city {
        height: 250px;
        background-image: url(/user/themes/illuminate/images/genres/mystery_no-edge_city_no-back.png),
          url(/user/themes/illuminate/images/genres/mystery_no-edge_no-city.png);
        background-size: auto 250px, auto 200px;
        background-position: right 70px bottom 11px, bottom;
        background-repeat: no-repeat;

        @media (max-width: 840px) {
          display: none;
        }
      }

      h2 {
        font-size: 1.8rem !important;
      }

      .button {
        display: block;
        margin-left: auto;
      }
    }
  }
}
