.genre-rows {
  .columns {
    margin: 3rem auto;
    align-items: center;
    justify-content: center;

    &.img-column-right {
      flex-direction: row-reverse;
    }

    .image-column {
      min-height: 400px;
      background-repeat: no-repeat;
      position: relative;

      img {
        position: absolute;

        @media (max-width: 840px) {
          display: none;
        }
      }

      &.romance {
        #romance-girl {
          height: 310px;
          bottom: 0;
          right: 40px;
        }

        #romance-background {
          height: 350px;
          top: 0;
          left: 0;
        }

        @media (max-width: 840px) {
          background-image: url(/user/themes/illuminate/images/genres/romance_no-edge_girl.png);
          background-size: contain;
          background-position: center;
        }
      }

      &.mystery {
        img {
          height: 300px;
        }

        @media (max-width: 840px) {
          min-height: 125px;
          max-width: 315px;
          background-image: url(/user/themes/illuminate/images/genres/mysteryman.png),
            url(/user/themes/illuminate/images/genres/mystery_no-edge_city.png);
          background-position: left 20px center, center;
        }
      }

      &.sci-fi {
        #scifi-spacegirl {
          height: 320px;
          top: 20%;
          right: 40px;
        }

        #scifi-star {
          height: 50px;
          left: 130px;
          bottom: 50%;
        }

        #scifi-background {
          top: 20%;
          left: 0;
          right: 0;
        }

        @media (max-width: 840px) {
          background-image: url(/user/themes/illuminate/images/genres/scifi_no-edge_spacegirl.png);
          background-size: contain;
          background-position: center;
        }

        @media (max-width: 500px) {
          min-height: 260px;
        }
      }

      &.fantasy {
        // background-image: url(/user/themes/illuminate/images/genres/fantasy_no-edge_warrior_no-back.png),
        //   url(/user/themes/illuminate/images/genres/fantasy_no-edge_no-warrior.png);
        // background-size: auto 350px, auto 300px;
        // background-position: left 80px top, center bottom;

        #fantasy-warrior {
          height: 350px;
          top: 0;
          left: 40px;
        }

        #fantasy-background {
          height: 300px;
          bottom: 0;
        }

        @media (max-width: 840px) {
          background-image: url(/user/themes/illuminate/images/genres/fantasy_no-edge_warrior.png);
          background-size: contain;
          background-position: center;
        }
      }
    }
    .text-column {
      .mystery-city {
        height: 250px;
        background-image: url(/user/themes/illuminate/images/genres/mystery_no-edge_city_no-back.png),
          url(/user/themes/illuminate/images/genres/mystery_no-edge_no-city.png);
        background-size: auto 250px, auto 200px;
        background-position: right 70px bottom 11px, bottom;
        background-repeat: no-repeat;

        @media (max-width: 840px) {
          display: none;
        }
      }

      .button {
        display: block;
        margin-left: auto;
      }
    }
  }
}
