.grav-lightslider {
  &#book_lightslider-wrapper {
    #book_lightslider {
      li {
        height: 250px;
        width: 170px;

        img {
          height: 100%;
          width: auto;
          max-width: 170px;
          margin: auto;
        }
      }

      li.active {
        img {
          opacity: 1;
        }
      }

      li:not(.active) {
        img {
          height: 85%;
          opacity: 0.3;
          transition: 1s all;
        }
      }
    }

    .lSAction {
      
    }
  }
}
