.resource-rows {
  margin: 5rem 0;
  
  .container {
    .columns.resource-box {
      margin: 4rem 0;
      box-shadow: 0 0 10px 3px black;
      padding: 20px 30px;
      background-image: url(/user/themes/illuminate/images/accents/Book_Light_Editorial_flowers_resources.png);
      background-position: bottom left;
      background-size: 200px;
      background-repeat: no-repeat;

      .column {
        &.resource-image-column {
          display: flex;
          align-items: center;
          justify-content: center;
  
          .resource-image {
            width: 100%;
            max-width: 100px;
          }
        }
      }
    }
  }
}