#showcase {
  #header_image {
    position: relative;
    text-align: center;
    z-index: 1;

    @media (max-width: 768px) {
      margin-top: 2.5rem;
    }

    #header_curtain {
      pointer-events: none;
      position: absolute;
      left: 0;
    }

    #header_logo {
      margin-top: 8rem;
      margin-bottom: 2rem;

      @media (max-width: 840px) {
        margin-top: 6rem;
      }

      @media (max-width: 600px) {
        margin-top: 4rem;
      }

      @media (max-width: 414px) {
        margin-top: 3rem;
      }
    }

    #header_text {
      margin-top: 0;

      @media (max-width: 768px) {
        font-size: 2rem;
      }
    }

    .button {
      display: block;
      margin-top: 1rem;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
