<section id="footer" class="section" role="contentinfo">
	<section class="container">
    <div id="footer-social" class="social-icons">
        <a class="social-icon" href="https://booklighteditorial.us15.list-manage.com/subscribe?u=41cbd1b3120b5a7852e2b113c&id=2186454ed1" target="_blank">
            <i class="far fa-newspaper fa-xl"></i>
            <span class="hidden-link-text">Newsletter</span>
        </a>
        <a class="social-icon" href="https://www.storychatradio.com/" target="_blank">
            <i class="fa fa-podcast fa-xl"></i>
            <span class="hidden-link-text">Podcast</span>
        </a>
        <a class="social-icon" href="https://twitter.com/fromcarly" target="_blank">
            <i class="fab fa-twitter fa-xl"></i>
            <span class="hidden-link-text">Twitter</span>
        </a>
        <a class="social-icon" href="https://www.instagram.com/booklighteditorial/" target="_blank">
            <i class="fab fa-instagram fa-xl"></i>
            <span class="hidden-link-text">Instagram</span>
        </a>
    </div>
    <span>Copyright &copy; {{ now|date('Y') }} Carly T. Hayward, Created by <a href="https://twitter.com/WebwardCo" target="_blank">WebwardCo</a></span>
    <br>
    {% for link in site.footer.links %}
      <span><a href="{{ link.href }}">{{ link.text }}</a></span>
      {% if not loop.last %}|{% endif %}
    {% endfor %}
	</section>
</section>
