<section id="footer" class="section">
	<section class="container grid-xl">
    <span>Copyright &copy; {{ now|date('Y') }} Book Light Editorial</span>
    <br>
    {% for link in site.footer.links %}
      <span><a href="{{ link.href }}">{{ link.text }}</a></span>
      {% if not loop.last %}|{% endif %}
    {% endfor %}
	</section>
</section>
