<section id="footer" class="section" role="contentinfo">
	<section class="container">
    <div id="footer-social" class="social-icons">
      <a class="social-icon" href="https://twitter.com/fromcarly" target="_blank"><i class="fab fa-twitter"></i><span class="hidden-link-text">Twitter</span></a>
      <a class="social-icon" href="https://www.facebook.com/booklighteditorial/" target="_blank"><i class="fab fa-facebook-f"></i><span class="hidden-link-text">Facebook</span></a>
      <a class="social-icon" href="https://www.instagram.com/booklighteditorial/" target="_blank"><i class="fab fa-instagram"></i><span class="hidden-link-text">Instagram</span></a>
    </div>
    <span>Copyright &copy; {{ now|date('Y') }} Carly T. Hayward, Created by <a href="https://twitter.com/WebwardCo" target="_blank">WebwardCo</a></span>
    <br>
    {% for link in site.footer.links %}
      <span><a href="{{ link.href }}">{{ link.text }}</a></span>
      {% if not loop.last %}|{% endif %}
    {% endfor %}
	</section>
</section>
