html {
  font-size: 16px;

  body#top {
    position: relative;

    .hidden-link-text {
      position: absolute;
      left: -10000px;
      top: auto;
      width: 1px;
      height: 1px;
      overflow: hidden;
    }

    #contact-form {
      input,
      textarea {
        width: 100%;
        line-height: 2;
      }

      select {
        height: 1.5rem;
      }

      .buttons {
        margin-top: 1rem;
        text-align: center;

        .button {
          margin: 0 0.5rem;
        }
      }
    }

    #page-wrapper {
      background-color: $white;
      padding-bottom: 5rem;

      img.float-left {
        float: left;
        padding: 0 10px 10px 0;
      }

      img.center {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }

      .center:not(img) {
        text-align: center;
      }

      .anchor {
        display: block;
        position: relative;
        top: -40px;
        visibility: hidden;
      }

      #contact-page-image {
        margin-top: 2rem;
        text-align: center;
      }

      .mobile-menu {
        .button_container {
          &.active {
            opacity: 1;
            top: 0.75rem;

            .top,
            .middle,
            .bottom {
              background-color: $link-color;
            }
          }
        }
      }
    }

    #floating-social {
      position: fixed;
      bottom: 0;
      right: 0;
      z-index: 999;
      margin-right: 0.25rem;

      .social-icon {
        display: block;
        margin-bottom: 0.25rem;

        i {
          &:hover {
            background-color: $white;
            color: $black;
          }
        }

        @media (max-width: 1024px) {
          display: none;
        }
      }
    }

    .social-icon {
      text-decoration: none;
      i {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $black;
        border-radius: 50%;
        background-color: $black;
        height: 35px;
        width: 35px;
        color: $white;
        transition: 0.25s all;
      }
    }

    .margin-image {
      position: absolute;
      width: 10%;
      z-index: 0;

      @media (max-width: 1170px) {
        display: none;
      }

      &#warrior-margin {
        top: 20%;
        left: 1px;
      }

      &#romance-girl-margin {
        top: 35%;
        right: 1px;
      }

      &#scifi-spacegirl-margin {
        top: 50%;
        left: 1px;
      }

      &#mysteryman-margin {
        top: 65%;
        right: 1px;
      }
    }
  }

  .mobile-container {
    .overlay {
      background-color: $white;

      .mobile-logo {
        margin-top: 0.5rem;
        margin-left: 0.5rem;
        font-weight: bold;
      }

      .overlay-menu {
        ul {
          li {
            .toggler {
              display: none;
            }
            a {
              &.active, &:focus {
                font-weight: bold;
                color: $link-color !important;
              }
            }
          }
        }
      }
    }
  }
}

@import 'header';
@import 'blog';
@import 'footer';
@import 'simplesearch';
@import 'modular/all';
