.tags {
  a {
    border: 1px solid $accent1;
    border-radius: 3px !important;
    background: inherit !important;
    font-size: 0.8rem !important;
    color: $accent1 !important;
  }
}

.content-item {
  .content-title {
    .p-name {
      a {
        font-size: 1.75rem !important;
      }
    }
  }
}
