#footer {
  padding: 0;
  color: $body-font-color;

  .container {
    background-color: $dark-color;
    padding: 1rem 0.5rem;
    color: $white;

    span,
    a {
      font-size: 0.8rem;
    }
  }
}
