section#header {
  border-bottom: none;
  background-color: $primary-color;
  padding-left: 2rem;
  padding-right: 2rem;

  .logo {
    padding: 13px 5px;
    transition: 0.5s padding;

    #header-text {
      transition: 0.5s font-size;
      font-size: 2rem;
      font-weight: normal;
      color: $white;
    }

    @media (max-width: 500px) {
      padding-top: 20px;
      padding-bottom: 20px;

      #header-text {
        font-size: 1.5rem;
      }
    }
  }

  .navbar-section {
    transition: 0.25s height;

    ul {
      li {
        a {
          position: relative;
          margin: 0 0.5rem;
          padding: 0.1rem;
          font-size: 1rem;
          font-weight: 400;
          font-variant: small-caps;
          color: $white;

          &:after {
            position: absolute;
            left: 0;
            bottom: 0;
            display: block;
            content: '';
            border-bottom: 1px solid $light-color;
            transform: scaleX(0);
            transition: transform 250ms ease-in-out;
          }

          &.active,
          &:hover {
            color: $light-color;

            &:after {
              width: 100%;
              transform: scaleX(1);
            }
          }
        }
      }
    }
  }

  &.scrolled {
    #logo {
      padding: 5px;

      #header-text {
        font-size: 1.4rem;
      }
    }

    .navbar-section {
      ul {
        li {
          a {
            padding-top: 0;
            padding-bottom: 0.1rem;
          }
        }
      }
    }
  }

  @media only all and (max-width: 1125px) {
    padding-left: 0;
    padding-right: 0;
  }
}

.mobile-menu {
  .button_container {
    span {
      background-color: $white;
    }
  }
}
